gutter = 24px
maxContentWidth = 1040px

astral = #2d6471
avocado = #acf07d
maize = #f6db60
pacific = #48a9bf
parchment = #fbfaf7

pathway = 'Pathway Gothic One', sans-serif

*
    box-sizing border-box

    &::after, &::before
        box-sizing border-box

img
    height auto
    max-width 100%

$gutterize
    padding 0 gutter
    margin 0 auto
    max-width maxContentWidth

$headline
    font-family pathway
    font-size 80px
    line-height 84px
    text-transform uppercase

$introText
    font-size 26px
    line-height 34px

$paragraph
    font-size 20px
    line-height 28px

$linkButton
    background-color astral
    border 2px solid avocado
    color white
    display block
    font-size 20px
    line-height 28px
    font-weight bold
    padding 10px 14px
    text-align center
    text-decoration none

body
    font-family 'Lato', 'Arial', sans-serif

.header
    background-color pacific
    padding 20px 0

.introduction
    background-color parchment
    padding 35px 0 45px

    &__guttered
        @extend $gutterize

    &__title
        @extend $headline
        color pacific
        margin-bottom 20px

    &__intro-paragraph
        @extend $introText
        color astral
        margin-bottom 16px

    &__long-details
        @extend $paragraph
        color astral
        margin-bottom 32px

    &__job-link
        @extend $linkButton

.meet
    background-color astral

    &__heading
        @extend $headline
        @extend $gutterize
        color avocado

    &__person-section
        padding 30px 0 0 0

        &--astral
            background-color astral
            color white

        &--avocado
            background-color avocado
            color astral

        &--maize
            background-color maize
            color astral

    &__title
        @extend $gutterize
        font-size 14px
        font-weight bold
        letter-spacing 0.8px
        line-height 1
        margin-bottom 8px
        text-transform uppercase

        &--maize
            color maize

    &__name
        @extend $gutterize
        font-family pathway
        font-size 40px
        line-height 42px
        margin-bottom 20px
        text-transform uppercase

    &__person-stuff
        @extend $gutterize
        font-size 20px
        line-height 28px
        padding-top 30px
        padding-bottom 30px