gutter = 24px
maxContentWidth = 1040px

astral = #2d6471
avocado = #acf07d
maize = #f6db60
pacific = #48a9bf
pacificAA = #1EA0B6
parchment = #fbfaf7

pathway = 'Pathway Gothic One', sans-serif

*
    box-sizing border-box

    &::after, &::before
        box-sizing border-box

img
    height auto
    max-width 100%
    vertical-align bottom

$gutterize
    padding 0 gutter
    margin 0 auto
    max-width maxContentWidth

$headline
    font-family pathway
    font-size 80px
    line-height 84px
    letter-spacing .5px
    text-transform uppercase


$introText
    font-size 26px
    line-height 34px

$paragraph
    font-size 20px
    line-height 28px

$linkButton
    background-color astral
    border 2px solid avocado
    color white
    display inline-block
    font-size 20px
    line-height 28px
    font-weight bold
    padding 10px 50px
    position relative
    text-align center
    text-decoration none
    transition color 250ms ease-in-out

    &::after
        background-color avocado
        bottom 0
        content ""
        left 0
        position absolute
        right 0
        top 0
        transform scaleX(0)
        transition transform 250ms ease-in-out

    &:hover::after
    &:focus::after
        transform scaleX(1)

    &:hover
    &:focus
        color astral

    > span
        position relative
        z-index 1

$jobTitle
    font-size 14px
    font-weight bold
    letter-spacing 0.8px
    line-height 1
    text-transform uppercase

$personName
    font-family pathway
    font-size 28px
    line-height 30px
    text-transform uppercase

body
    font-family 'Lato', 'Arial', sans-serif

.header
    background-color pacific
    display flex
    justify-content center
    padding 20px 0

.introduction
    background-color parchment
    padding 0 0 45px

    &__image-container
        position relative

    &__team-image
        clip-path polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%)
        display block
        margin 0 auto

    &__shard-hey
        position absolute
        bottom 0
        left gutter 

        maxContentWidthWithGutters = maxContentWidth + gutter + gutter

        @media (min-width maxContentWidth + gutter + gutter)
            left s('calc((100vw - %s) / 2)', maxContentWidthWithGutters)

        @media (max-width 1040px)
            bottom -50px

    &__guttered
        @extend $gutterize
        padding-top 80px

    &__title
        @extend $headline
        color astral
        margin-bottom 20px

    &__intro-paragraph
        @extend $introText
        color astral
        margin-bottom 16px

    &__long-details
        @extend $paragraph
        color astral
        margin-bottom 32px

    &__job-link
        @extend $linkButton

.meet
    background-color parchment
    padding-bottom 80px

    &__heading
        @extend $headline
        @extend $gutterize
        color pacificAA
        padding-top 80px
        padding-bottom 40px

    &__people
        margin 0 auto
        max-width maxContentWidth

        @media (min-width 700px)
            display grid
            grid-template-columns repeat(3, 1fr)
            grid-gap 24px

    &__person-section
        padding 30px 0 0 0

        &--astral
            background-color astral
            color white

        &--avocado
            background-color avocado
            color astral

        &--maize
            background-color maize
            color astral

    &__title
        @extend $gutterize
        @extend $jobTitle
        margin-bottom 8px

        &--maize
            color maize

    &__name
        @extend $gutterize
        @extend $personName
        margin-bottom 20px

    &__photo-container
        margin 0 24px
        position relative

    &__photo-hover
        opacity 0
        transition: opacity .150s ease-in
        position absolute  
        left 0
        top 0
        right 0 
        bottom 0
        
        &:hover 
            opacity 1

    &__person-stuff
        @extend $gutterize
        font-size 20px
        line-height 28px
        padding-top 30px
        padding-bottom 30px

.other-nauts
    background-color astral
    padding-top 60px
    padding-bottom 80px

    &__guttered
        @extend $gutterize

    &__heading
        @extend $headline
        color maize
        padding-bottom 20px

    &__paragraph
        @extend $paragraph
        color parchment
        margin-bottom 40px


    &__photos
        display grid
        grid-template-columns 1fr 1fr
        grid-gap 24px

        @media (min-width 700px)
            grid-template-columns repeat(4, 1fr)

    &__photo-container
        overflow hidden
        perspective 200px
        position relative

    &__info
        align-items center
        background-color maize
        bottom 0
        color white
        display flex
        flex-direction column
        left 0
        justify-content center
        position absolute
        right 0
        text-align center
        top 0
        transform rotateY(180deg)
        transform-origin 0 0
        transition transform 250ms ease-in-out

        &--right-side
            transform rotateY(-180deg)
            transform-origin 100% 0

    &__photo-container:hover &__info
        transform rotateY(0deg)

    &__title
        @extend $jobTitle
        color astral

    &__name
        @extend $personName
        color astral

.cool-links
    background-color parchment
    padding-bottom 100px

    &__heading
        @extend $gutterize
        @extend $headline
        color pacificAA
        padding-top 100px
        padding-bottom 40px

    &__grid
        margin 0 auto
        max-width maxContentWidth

        @media (min-width 700px)
            display grid
            grid-template-columns repeat(3, 1fr)
            grid-gap 24px

    &__grid-item
        @extend $gutterize
        background-color astral
        padding-top 24px
        padding-bottom 24px

        &--pacific
            background-color pacific
            grid-row 2 / 3

        &--image
            grid-column span 2

        &--avocado
            background-color pacific

        &--maize
            background-color maize

    &__top
        align-items flex-start
        color avocado
        display flex
        justify-content space-between
        margin-bottom 8px

    &__link-container
        text-align center

    &__link
        @extend $linkButton

    &__grid-image
        height 100%
        object-fit cover
        width 100%

    &__grid-heading
        color white
        font-family pathway
        font-size 40px
        line-height 42px
        margin-bottom 16px
        text-transform uppercase

    &__description
        color white
        font-size 20px
        line-height 28px
        margin-bottom 14px

    &__link-image
        display block
        margin-bottom 16px

.apply
    background-color pacificAA
    padding-top 100px
    padding-bottom 60px

    &__gutterized
        @extend $gutterize

    &__heading
        @extend $headline
        color parchment
        margin-bottom 18px
        text-transform none

    &__text
        color parchment
        font-size 26px
        line-height 34px
        margin-bottom 40px

    &__job-link
        @extend $linkButton

.footer
    background-color astral
    display flex
    justify-content center
    padding 20px 0

    &__logo
        height 60px
        width 100px