* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
.introduction__guttered,
.meet__heading,
.meet__title,
.meet__name,
.meet__person-stuff,
.other-nauts__guttered,
.cool-links__heading,
.cool-links__grid-item,
.apply__gutterized {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1040px;
}
.introduction__title,
.meet__heading,
.other-nauts__heading,
.cool-links__heading,
.apply__heading {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 80px;
  line-height: 84px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.introduction__intro-paragraph {
  font-size: 26px;
  line-height: 34px;
}
.introduction__long-details,
.other-nauts__paragraph {
  font-size: 20px;
  line-height: 28px;
}
.introduction__job-link,
.cool-links__link,
.apply__job-link {
  background-color: #2d6471;
  border: 2px solid #acf07d;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  padding: 10px 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
.introduction__job-link::after,
.cool-links__link::after,
.apply__job-link::after {
  background-color: #acf07d;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.introduction__job-link:hover::after,
.cool-links__link:hover::after,
.apply__job-link:hover::after,
.introduction__job-link:focus::after,
.cool-links__link:focus::after,
.apply__job-link:focus::after {
  transform: scaleX(1);
}
.introduction__job-link:hover,
.cool-links__link:hover,
.apply__job-link:hover,
.introduction__job-link:focus,
.cool-links__link:focus,
.apply__job-link:focus {
  color: #2d6471;
}
.introduction__job-link > span,
.cool-links__link > span,
.apply__job-link > span {
  position: relative;
  z-index: 1;
}
.meet__title,
.other-nauts__title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 1;
  text-transform: uppercase;
}
.meet__name,
.other-nauts__name {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
}
body {
  font-family: 'Lato', 'Arial', sans-serif;
}
.header {
  background-color: #48a9bf;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.introduction {
  background-color: #fbfaf7;
  padding: 0 0 45px;
}
.introduction__image-container {
  position: relative;
}
.introduction__team-image {
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
  display: block;
  margin: 0 auto;
}
.introduction__shard-hey {
  position: absolute;
  bottom: 0;
  left: 24px;
}
@media (min-width: 1088px) {
  .introduction__shard-hey {
    left: calc((100vw - 1088px) / 2);
  }
}
@media (max-width: 1040px) {
  .introduction__shard-hey {
    bottom: -50px;
  }
}
.introduction__guttered {
  padding-top: 80px;
}
.introduction__title {
  color: #2d6471;
  margin-bottom: 20px;
}
.introduction__intro-paragraph {
  color: #2d6471;
  margin-bottom: 16px;
}
.introduction__long-details {
  color: #2d6471;
  margin-bottom: 32px;
}
.meet {
  background-color: #fbfaf7;
  padding-bottom: 80px;
}
.meet__heading {
  color: #1ea0b6;
  padding-top: 80px;
  padding-bottom: 40px;
}
.meet__people {
  margin: 0 auto;
  max-width: 1040px;
}
@media (min-width: 550px) {
  .meet__people {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
@media (min-width: 900px) {
  .meet__people {
    grid-template-columns: repeat(4, 1fr);
  }
}
.meet__person-section {
  padding: 30px 0 0 0;
}
.meet__person-section--astral {
  background-color: #2d6471;
  color: #fff;
}
.meet__person-section--avocado {
  background-color: #acf07d;
  color: #2d6471;
}
.meet__person-section--maize {
  background-color: #f6db60;
  color: #2d6471;
}
.meet__person-section--pacific {
  background-color: #1ea0b6;
  color: #fbfaf7;
}
.meet__title {
  margin-bottom: 8px;
}
@media (min-width: 900px) {
  .meet__title {
    min-height: 2em;
  }
}
.meet__title--maize {
  color: #f6db60;
}
.meet__name {
  margin-bottom: 20px;
}
@media (min-width: 550px) {
  .meet__name {
    min-height: 60px;
  }
}
.meet__photo-container {
  margin: 0 24px;
  position: relative;
}
.meet__photo-hover {
  opacity: 0;
  transition: opacity 0.15s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.meet__photo-hover:hover {
  opacity: 1;
}
.meet__person-stuff {
  font-size: 20px;
  line-height: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.other-nauts {
  background-color: #2d6471;
  padding-top: 60px;
  padding-bottom: 80px;
}
.other-nauts__heading {
  color: #f6db60;
  padding-bottom: 20px;
}
.other-nauts__paragraph {
  color: #fbfaf7;
  margin-bottom: 40px;
}
.other-nauts__photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
@media (min-width: 700px) {
  .other-nauts__photos {
    grid-template-columns: repeat(4, 1fr);
  }
}
.other-nauts__photo-container {
  overflow: hidden;
  perspective: 200px;
  position: relative;
}
.other-nauts__info {
  align-items: center;
  background-color: #f6db60;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  left: 0;
  justify-content: center;
  padding: 8px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: rotateY(180deg);
  transform-origin: 0 0;
  transition: transform 250ms ease-in-out;
}
.other-nauts__info--right-side {
  transform: rotateY(-180deg);
  transform-origin: 100% 0;
}
.other-nauts__photo-container:hover .other-nauts__info {
  transform: rotateY(0deg);
}
.other-nauts__title {
  color: #2d6471;
}
.other-nauts__name {
  color: #2d6471;
}
.other-nauts__link-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.cool-links {
  background-color: #fbfaf7;
  padding-bottom: 100px;
}
.cool-links__heading {
  color: #1ea0b6;
  padding-top: 100px;
  padding-bottom: 40px;
}
.cool-links__grid {
  margin: 0 auto;
  max-width: 1040px;
}
@media (min-width: 700px) {
  .cool-links__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
}
.cool-links__grid-item {
  background-color: #2d6471;
  padding-top: 24px;
  padding-bottom: 24px;
}
.cool-links__grid-item--pacific {
  background-color: #48a9bf;
  grid-row: 2/3;
}
.cool-links__grid-item--image {
  grid-column: span 2;
}
.cool-links__grid-item--avocado {
  background-color: #48a9bf;
}
.cool-links__grid-item--maize {
  background-color: #f6db60;
}
.cool-links__top {
  align-items: flex-start;
  color: #acf07d;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.cool-links__link-container {
  text-align: center;
}
.cool-links__grid-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.cool-links__grid-heading {
  color: #fff;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.cool-links__description {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 14px;
}
.cool-links__link-image {
  display: block;
  margin-bottom: 16px;
}
.apply {
  background-color: #1ea0b6;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 60px;
  position: relative;
}
.apply__heading {
  color: #fbfaf7;
  margin-bottom: 18px;
  text-transform: none;
}
.apply__text {
  color: #fbfaf7;
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 40px;
}
.apply__tyler-cheeseburger {
  background: transparent url("tyler-cake.jpg") no-repeat center;
  background-size: cover;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: transform 1250ms ease-in;
}
.apply__tyler-cheeseburger--showing {
  transform: translateY(0);
}
.footer {
  background-color: #2d6471;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}
.footer__logo {
  height: 40px;
  width: 80px;
}
.footer__cheeseburger-button {
  background-color: transparent;
  border: 0;
  bottom: 0;
  position: absolute;
  right: 0;
}
