* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}
.introduction__guttered,
.meet__heading,
.meet__title,
.meet__name,
.meet__person-stuff {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1040px;
}
.introduction__title,
.meet__heading {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 80px;
  line-height: 84px;
  text-transform: uppercase;
}
.introduction__intro-paragraph {
  font-size: 26px;
  line-height: 34px;
}
.introduction__long-details {
  font-size: 20px;
  line-height: 28px;
}
.introduction__job-link {
  background-color: #2d6471;
  border: 2px solid #acf07d;
  color: #fff;
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
}
body {
  font-family: 'Lato', 'Arial', sans-serif;
}
.header {
  background-color: #48a9bf;
  padding: 20px 0;
}
.introduction {
  background-color: #fbfaf7;
  padding: 35px 0 45px;
}
.introduction__title {
  color: #48a9bf;
  margin-bottom: 20px;
}
.introduction__intro-paragraph {
  color: #2d6471;
  margin-bottom: 16px;
}
.introduction__long-details {
  color: #2d6471;
  margin-bottom: 32px;
}
.meet {
  background-color: #2d6471;
}
.meet__heading {
  color: #acf07d;
}
.meet__person-section {
  padding: 30px 0 0 0;
}
.meet__person-section--astral {
  background-color: #2d6471;
  color: #fff;
}
.meet__person-section--avocado {
  background-color: #acf07d;
  color: #2d6471;
}
.meet__person-section--maize {
  background-color: #f6db60;
  color: #2d6471;
}
.meet__title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.meet__title--maize {
  color: #f6db60;
}
.meet__name {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.meet__person-stuff {
  font-size: 20px;
  line-height: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
}
